.acerca-de-mi{
    position: absolute;
    left: 0;
    right: 0;
    top: 575px;
    height: 450px;
    background-color: rgb(34, 40, 47);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.acerca-de-mi .texto{
    
    width: 61%;
    padding-left: 12px;
    
}

.acerca-de-mi h4{
    color: white;   
}

.acerca-de-mi h2{
    color: rgb(18, 189, 255);
}


.acerca-de-mi p{
    text-align: left;
    display: inline-block;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.foto-circular{
    width: 250px;
    height: 250px;
    
    
}

.foto-circular img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}