.inicio{
    position: absolute;
    left: 0;
    right: 0;
    height: 450px;
    background-color: #1B3C53;  
    z-index: -1;
    top: 67px;
    padding: 25px;
    display: flex;
}

.inicio .presentacion{
    width: 70%;
    height: 100%;
    
    
}

.inicio .imagen-perfil{
    width: 400px;
    margin-left: 50px;
    height: 100%;
    
    
    
}

.imagen-perfil img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}

.iconos-contacto li{
     width: 36px;
     height: 36px;
     padding: 12px;
     border-radius: 50%;
     border: 2px solid white;
     background-color: transparent;
     transition: background-color .3s;
     
    
}

.iconos-contacto li:hover{
    cursor: pointer;
    background-color: white;
}


.iconos-contacto li img{
    width: 100%;
    height: 100%;
}

.iconos-contacto li::marker{
    content: "";
    
}


.iconos-contacto ul{

    width: 350px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    
    
}

.presentacion h1{
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.presentacion  .span-name{
    color: rgb(18, 189, 255);
}

.presentacion h2{

    font-size: 32px;
    font-weight: 400;
    color: white;
}

.presentacion p{
    color: white;
    font-size: 24px;
}

.botones-mail-cv{
    display: inline-block;
}


.CV{
    background-color: transparent;
    transition: background-color .3s, color .3s;
}

.CV:hover{
    color: black;
}

.cv-download{
    color: white;
    text-decoration: none;
    
}



.botones-mail-cv button{
    border: 1px white;
    border-radius: 3%;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
    
}



.botones-mail-cv button:nth-child(1){
    background-color: rgb(255, 255, 255);
    color: black;

}

.botones-mail-cv a:hover{
    text-decoration: none;
    color: black;
    
}

.botones-mail-cv button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid transparent;
}

